
<%= form_tag confirm_enrollment_2_path, :multipart => true  do %>
<div>
 	<p>

	* 	<label style="padding-right: 7px; width: 100px; display: inline-block;"> Proof of enrollment </label>
		 <%= file_field_tag :evidence %>
	</p>
	<%=hidden_field_tag :center_id, :value=> @center_id %>
	<p>
	    <%= submit_tag "Confirm my child's enrollment", class: "confirm_button" %>
	</p>
	     
      
</div>
<% end %>




